.landingContainer{
margin-top: rem;
display: flex;
gap: 3rem;
padding: 3% 20% 2% 10%;
font-size: 1.2rem;
margin-right: 3rem;
}

.img{
    height: 12vh;
    margin-right: 1rem;
    margin-top: 2rem;

}