.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/universe.jpeg");
  background-size: cover;
  background-position: center;
  height: 15vh;
  padding: 5rem;
}
.header {
  font-size: 2.5rem;
  color: black;
  margin-left: 5rem;
  margin-right: 5rem;
}

.headerText {
  height: 10hv;
  background-color: white;
  border-radius: 25px;
  padding: 1rem;
  outline: 2px solid black;
}

.subTitle {
  font-size: 1.2rem;
  text-align: center;
  color: rgb(14, 120, 200);
}
