.sug-container{
    margin-bottom: 5rem;
    width: 40%;
    margin-left: 3%;
    background-color: bisque;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 5rem;

}

.input-fields{
    display: grid;
    max-width: 20vw;
    height: 180px;
    gap: 15px;
    margin: 2rem 0 5%; 
    
}

.btn{
        margin-bottom: 15%;
        padding: 2%;

}